.App {
  text-align: center;
  background-color: black;
}

.Content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.GameImage {
  width: 300px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #bc6808;
}

.Game {
  width: 400px;
  margin: 20px; /* space between elements past edge */
  padding: 10px; /* space within element at edge */
  background-color: #303040;
  border-radius: 8px;
  box-shadow: 4px 4px 5px #bc6808;
  text-shadow: 4px 4px 5px black;

  animation-duration: 1s;
  animation-name: show;
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.GameList {
  width: 460px;
  margin: 10px;
  
}

.controlbutton {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 4px;
  border: 30px;
  outline: 2px;
  font-size: 13px;
  background-color: #fa8805;
  box-shadow: 2px 2px 5px;
  
  
}

.Topbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* padding: 20px; */
  background-color: #303040;
  box-shadow: 3px 3px 5px #ec840d
}

.Topbar > * {
  /* > is the child selector, this selects all children of Topbar */
  margin: 10px;
}
.GameHeader{
  font-family: impact,fantasy;
}
a {
  text-decoration: none;
  color: orange;
}

h2 {
  color: white;
}

h1 {
  color: white;
}

p {
  color: white;
}
